@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd166;
}

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 50px;
}

h1 .title-color1 {
  color: #006d77;
  margin-right: 8px;
}

select {
  border: none;
  outline: none;
  background-color: #006d77;
  color: white;
  text-align-last: center;
  font-family: 'Poppins', sans-serif;
  padding: 4px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 140px;
}

footer {
  position: sticky;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.dropdown {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.dropdown-title {
  margin-right: 20px;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  grid-gap: 20px;
  margin: 0 10%;
}
