@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd166;
}

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 50px;
}

h1 .title-color1 {
  color: #006d77;
  margin-right: 8px;
}

.dropdown {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.dropdown-title {
  margin-right: 20px;
}

select {
  border: none;
  outline: none;
  background-color: #006d77;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 140px;
}
